<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>NodeJS File Uploads</title>
  <meta name="description" content="The HTML5 Herald">
  <meta name="author" content="SitePoint">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>

<body>
    <div class="container">
        <h1>File Uploads</h1>
        <%= typeof msg != 'undefined' ? msg : '' %>
        <form action="/upload" method="POST">
        <div class="file-field input-field">
        <div class="btn grey">
            <span>File</span>
            <input name="myImage" type="file">
        </div>
        <div class="file-path-wrapper">
            <input class="file-path validate" type="text">
        </div>
        </div>
        <button type="submit" class="btn">Submit</button>
  </form>
    </div>

    <script
    src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>